// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin colorin($color) {
  @if $color != empty {
    background-color: $color;
    color: $color;
  }
  width: 100%;
  height: 100%;
  border-radius:20px;
  float: left;
}

.board {
  background-color: #964B00;
  height: 760px;
  width: 760px;
}
.grid {
  top: 20px;
  left: 20px;
  border: solid black thin;
  position: absolute;
}
.row, .gridrow {
  height: 40px;
}
.gridpeice {
  border: solid black thin;
  height: 38px;
  width: 38px;
  float: left;
}
.peice {
  width: 40px;
  float: left;
  height: 40px;

  .white {
    @include colorin(white);
  }
  .black {
    @include colorin(black);
  }

  .empty {
    @include colorin(empty);
  }
  a {
    text-decoration: none;
    height: 100%;
    display: block;
  }
}

